<h1>Flight Search!</h1>

<form #f="ngForm">
    <div class="control-group">
        <label>From:</label>
        <input 
            name="from" 
            [(ngModel)]="from" 
            class="form-control"
            required
            minlength="3"
            maxlength="30"
            city="Graz,Hamburg,Nürnberg,München,Berlin,Frankfurt"
            pattern="[A-Za-zöäüßÖÄÜ]*">
    

            <div *ngIf="!f?.controls['from']?.valid">
                Fehler ...
                <pre>{{ f?.controls['from']?.errors | json }}</pre>
            </div>

            <div *ngIf="f?.controls['from']?.hasError('required')">
                Required!
            </div>

            <div *ngIf="f?.controls['from']?.hasError('city')">
                City!
            </div>


            <div *ngIf="f?.controls['from']?.hasError('minlength')">
                Minelength!
            </div>

            <div *ngIf="f?.controls['from']?.hasError('maxlength')">
                Maxlength!
            </div>


            <div *ngIf="f?.controls['from']?.hasError('pattern')">
                Pattern!
            </div>
    
    </div>

    <div class="control-group">
        <label>To:</label>
        <input name="to" [(ngModel)]="to" class="form-control">
    </div>

    <div class="control-group">
        <button class="btn btn-default" (click)="search()">Search</button>
    </div>
</form>

<div class="row">
<div *ngFor="let f of flights" style="margin-bottom:20px;" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <flight-card 
        [item]="f" 
        [(selected)]="basket[f.id]">
    </flight-card>
</div>
</div>
<!-- (selectedChange)="basket[f.id] = $event" -->

<!--
    [ngClass]="{ 'active': f == selectedFlight }"
-->
<!--
<table class="table table-striped">
    <tr *ngFor="let f of flights" [ngStyle]="{ 'background-color': (f == selectedFlight) ? 'orange' : '' }">
        <td>{{f.id}}</td>
        <td>{{f.from | city:'short' }}</td>
        <td>{{f.to | city:'long' }}</td>
        <td>{{f.date | date:'dd.MM.yyyy HH:mm' }}</td>
        <td><a (click)="select(f)">Select</a></td>
    </tr>
</table>
-->

<div class="row">
<pre>Warenkorb
-------------------

{{ basket | json }}    
</pre>    

</div>